<div class="app-video-single">
  <div class="container">
    <div class="single-video">
      <video  type='video/mp4' (waiting)="onWaiting()" (playing)="onPlaying()" (progress)="onProgress()" (timeupdate)="onTimeUpdate()"
        (contextmenu)="contextMenu($event)" (ended)="videoEnded()" [hidden]="currentVideo.videoSource == 1 " class="single-post-video-palyer"
        #videoPlayer>
      </video>

      <ng-container *ngIf="currentVideo.videoSource == 1">
        <div class="youtube-player-wrap">
          <youtube-player [videoId]="currentVideo.src"></youtube-player>
        </div>
      </ng-container>
      <div id="controlsWrap" (document:mousemove)="onMouseMove($event)" [hidden]="currentVideo.videoSource == 1" class="video-player-frame" [ngClass]="videoControlsVisibility ? 'show-control' : 'hide-controls'">

        <span [hidden]="isAdvideoPlaying" class="video-btn-span">
          <i [hidden]="isWaiting" (click)="videoPlayer.paused ? play() : pause()" [ngClass]="videoPlayer.paused ? 'video-play' : 'video-pause'"
            class="video-player-btn"></i>

          <i [hidden]="!isWaiting" class="fas fa-spinner fa-pulse video-waiting"></i>
        </span>

        <ul class="video-controls">
          <li>
            <span class="video-time">{{videoCurrentTime}} / {{videoTotalTime}}</span>
          </li>
          <li>
            <span>
              <i (click)="toggleFullScreen()" class="fas fa-expand"></i>
            </span>
          </li>
          <li>
            <span>
              <i (click)="videoPlayer.muted = !videoPlayer.muted" [ngClass]="videoPlayer.muted ? 'fa-volume-off' : 'fa-volume-up'"
                class="fas"></i>
            </span>
          </li>
        </ul>
        <div (click)="seekVideo($event)" #seekBar class="progress video-seekbar">
          <div [ngStyle]="{width : seekBarPercent + '%'}" [ngClass]="isAdvideoPlaying ? 'bg-warning': 'bg-danger'"
            class="progress-bar current-progress" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
          <div [ngStyle]="{width : videoBuffered + '%'}" class="progress-bar bg-secondary buffer-progress" role="progressbar"
            aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <!-- video-player-control Start -->
    <div class="row">
      <div class="col-lg-4 d-none d-lg-block d-xl-block btn-group video-player-button" role="group" aria-label="Video Player">
        <button type="button" class="btn-icon btn btn-dark player-button">
          Like:
          <i class="fas fa-thumbs-up"></i>
        </button>
        <button type="button" class="btn-icon btn btn-dark player-button">
          Dislike:
          <i class="fas fa-thumbs-down"></i>
        </button>
        <button (click)="shareVideo()" type="button" class="btn-icon btn btn-dark player-button">
          Share:
          <i class="fas fa-share-alt-square"></i>
        </button>
      </div>

    </div>
    <!-- Row End -->
    <!-- video-player-control End -->
  </div>
</div>

<div class="main">
  <div class="container-fluid">
    <div class="row">
      <aside class="col-md-1 ad-sidebar ad-sidebar-left">
        <div [hidden]= "true" class="ads">
          <img src="assets/images/banner/Ad/ad_v1.jpg" alt="">
        </div>
      </aside>
      <main class="col-md-10">
        <div>
          <section class="">
            <article>
              <h1>{{currentVideo.title}}</h1>
              <ul class="meta-data-list">

                <li class="meta-data-item">
                  <i class="fas fa-calendar-alt nav-font-size">&nbsp;</i>
                  <span>
                    <time class="entry-date nav-font-size" datetime="2018-07-29">July 30, 2018</time>
                  </span>
                </li>
                <li class="meta-data-item">
                  <i class="fa fa-comment nav-font-size" aria-hidden="true">&nbsp;</i>
                  <span class="nav-font-size"> 10 </span>
                </li>
                <li class="meta-data-item">
                  <i class="fa fa-eye nav-font-size" aria-hidden="true">&nbsp;</i>
                  <span class="nav-font-size nav-font-size">{{currentVideo.viewsCount}}</span>
                </li>
                <li class="meta-data-item">
                  <i class="fa fa-thumbs-up nav-font-size" aria-hidden="true">&nbsp;</i>
                  <span class="nav-font-size nav-font-size">{{currentVideo.likesCount}}</span>
                </li>
                <li class="meta-data-item">
                  <i class="fa fa-thumbs-down nav-font-size" aria-hidden="true">&nbsp;</i>
                  <span class="nav-font-size nav-font-size">{{currentVideo.dislikesCount}}</span>
                </li>
              </ul>

              <div>
                <!-- Start Break Point Line Latest Post Bottom -->
                <p class="break-point-line"> </p>
              </div>
              <!-- End Break Point Line Latest Post Bottom -->

            </article>
          </section>

          <section class="section">
            <header class="section-header">
              <h6 class="section-title">Most Liked videos</h6>
            </header>
            <div class="section-body">
 <!--              <div [appImageSlider]="relatedVideoSliderImages"></div>
            </div>
          </section>

          <aside [hidden]= "true" class="ads">
            <img src="assets/images/banner/Ad/ad_h1.jpg" alt="">
          </aside>
          <section class="section">
              <header class="section-header">
                <h6 class="section-title"><i class="fa fa-film"></i> &nbsp; Related videos</h6>
              </header>
              <div class="section-body"> -->

                <div class="imgs-container">
                  <div (swipeleft)="imgSlide('left')" (swiperight)="imgSlide('right')" class="imgs-wrap swipe-pan-css" #imgSlider>
                    <article *ngFor="let ML_Vid of mostLikedVideos" class="imgs-single">
                        <div (click)="playVideo($event, ML_Vid.id)" class="imgs-image" [ngStyle]="{'background-image' : 'url(' + ML_Vid.thumbnails.small + ')'}">
                          <i class="fas fa-play play-btn"></i>
                        </div>
                        <div class="imgs-captions">
                          <div class="imgs-title">
                            <a (click)="playVideo($event, ML_Vid.id)" class="post-link">{{ML_Vid.title}}</a>
                          </div>
                          <div class="imgs-meta-data">
                            <ul>
                              <li>
                                <i class="fas fa-eye" aria-hidden="true"></i> {{ML_Vid.viewsCount}}</li>
                              <li>
                                <i class="fas fa-thumbs-up" aria-hidden="true"></i> {{ML_Vid.likesCount}}</li>
                              <li>
                                <i class="fas fa-thumbs-down" aria-hidden="true"></i> {{ML_Vid.dislikesCount}}</li>
                            </ul>
                          </div>
                        </div>
                      </article>
                    </div>
                    <span class="imgs-control-left">
                      <i (click)="imgSlide('right')" class="fas fa-arrow-left" aria-hidden="true"></i>
                    </span>
                    <span class="imgs-control-right">
                      <i (click)="imgSlide('left')" class="fas fa-arrow-right" aria-hidden="true"></i>
                    </span>
                  </div>
              </div>
            </section>

            
            <aside [hidden]= "true" class="ads">
                <img src="assets/images/banner/Ad/ad_h2.jpg" alt="">
              </aside>
        </div>
        
      </main>
      <aside class="col-md-1 ad-sidebar ad-sidebar-right">
        <div [hidden]= "true" class="ads">
          <img src="assets/images/banner/Ad/ad_v2.jpg" alt="">
        </div>
      </aside>

    </div>
    <!--row-->
  </div>
  <!--main Section End -->
</div>
