<main class="main-content page-main-content">

  <div class="container">
    <header class=" page-header-title">
      <h1 class="page-title">About us</h1>
    </header>
    <div class="row">
      <aside class="col-md-1 ad-sidebar ad-sidebar-left">
        <div [hidden]="true" class="ads">
          <img src="assets/images/banner/Ad/ad_v1.jpg" alt="">
        </div>
      </aside>
      <div class="col-md-10">

        <div *ngIf="adsList.length > 0 && adsList[0]" class="ads">
          <a target="_blank" href="{{adsList[0].link}}">
            <img src="{{adsList[0].path}}" alt="">
          </a>
        </div>

        <section class="section">
          <header class="section-header">
            <h2 class="section-title section-title-left"> <i _ngcontent-c3="" class="fa fa-bullhorn"></i> The Perfect
              Son</h2>
          </header>
          <div class="section-body">
            Santa went out to buy an Indian flag. The shop owner gave him the flag.<br>
            Guess what did he ask next...<br>
            Ismein aur colour dikhayiye.
          </div>
        </section>


        <div *ngIf="adsList.length > 1 && adsList[1]" class="ads">
          <a target="_blank" href="{{adsList[1].link}}">
            <img src="{{adsList[1].path}}" alt="">
          </a>
        </div>

        <section class="section">
          <header class="section-header">
            <h2 class="section-title section-title-left"> <i _ngcontent-c3="" class="fa fa-bullhorn"></i> Indian flag
            </h2>
          </header>
          <div class="section-body">
            Santa went out to buy an Indian flag. The shop owner gave him the flag. <br>
            Guess what did he ask next... <br>
            Ismein aur colour dikhayiye.
          </div>
        </section>

        <div *ngIf="adsList.length > 2 && adsList[2]" class="ads">
          <a target="_blank" href="{{adsList[2].link}}">
            <img src="{{adsList[2].path}}" alt="">
          </a>
        </div>

        <section class="section">
          <header class="section-header">
            <h2 class="section-title section-title-left"> <i _ngcontent-c3="" class="fa fa-bullhorn"></i> boys &
              teacher </h2>
          </header>
          <div class="section-body">
            Two boys were arguing when the teacher entered the room.
            The teacher says, "Why are you arguing?"

            One boy answers, "We found a ten dollor bill and decided to give it to whoever tells the biggest lie."

            "You should be ashamed of yourselves," said the teacher, "When I was your age I didn't even know what a lie
            was."

            The boys gave the ten dollars to the teacher.
          </div>
        </section>

        <div *ngIf="adsList.length > 3 && adsList[3]" class="ads">
          <a target="_blank" href="{{adsList[3].link}}">
            <img src="{{adsList[3].path}}" alt="">
          </a>
        </div>

        <section class="section">
          <header class="section-header">
            <h2 class="section-title section-title-left"> <i _ngcontent-c3="" class="fa fa-bullhorn"></i> Child & Wife</h2>
          </header>
          <div class="section-body">
            According to a survey,
            There is only one perfect child in the world and every mother has it.<br>
            ;;<br>
            ;;
            <p>There is only one perfect wife in the world and every neighbor has it… 🙂</p>
          </div>
        </section>

        <div *ngIf="adsList.length > 0 && adsList[0]" class="ads">
          <a target="_blank" href="{{adsList[0].link}}">
            <img src="{{adsList[0].path}}" alt="">
          </a>
        </div>
        <section class="section">
          <header class="section-header">
            <h2 class="section-title section-title-left"> <i _ngcontent-c3="" class="fa fa-bullhorn"></i> friends </h2>
          </header>
          <div class="section-body">
            Two friends visit a Stadium.
            First: Why are all these people running?<br>
            Second: This is a race, the winner will get the cup.<br>
            First: If only winner will get the cup, why are others running?
          </div>
        </section>

        <div *ngIf="adsList.length > 1 && adsList[1]" class="ads">
          <a target="_blank" href="{{adsList[1].link}}">
            <img src="{{adsList[1].path}}" alt="">
          </a>
        </div>

        <section class="section">
          <header class="section-header">
            <h2 class="section-title section-title-left"> <i _ngcontent-c3="" class="fa fa-bullhorn"></i> boy & father</h2>
          </header>
          <div class="section-body">
            A young boy asked is father, "Dad, do lawyers ever tell the truth?"<br>
            The father thought for a moment, "Yes son, sometimes a lawyer will do anything to win a case!"<br>
           </div>
        </section>

        <div *ngIf="adsList.length > 2 && adsList[2]" class="ads">
          <a target="_blank" href="{{adsList[2].link}}">
            <img src="{{adsList[2].path}}" alt="">
          </a>
        </div>

        <section class="section">
          <header class="section-header">
            <h2 class="section-title section-title-left"> <i _ngcontent-c3="" class="fa fa-bullhorn"></i> Child & Wife</h2>
          </header>
          <div class="section-body">
           Science Teacher: Oxygen is a must for breathing & for life. It was discovered in 1773.<br>
           Student: Thank God ! I am born after 1773 otherwise, I would have died without it.
          </div>
        </section>

        <div *ngIf="adsList.length > 3 && adsList[3]" class="ads">
          <a target="_blank" href="{{adsList[3].link}}">
            <img src="{{adsList[3].path}}" alt="">
          </a>
        </div>

        <section class="section">
          <header class="section-header">
            <h2 class="section-title section-title-left"> <i _ngcontent-c3="" class="fa fa-bullhorn"></i> wife and Funny man </h2>
          </header>
          <div class="section-body">
            Funny man to Amli: Your friend is kissing your wife in your home. <br>
            Amli rushed home angrily. <br>
            After half an hour, he came back and slapped the funny man. <br>            
            Amli said: You fool, he is not my friend.
          </div>
        </section>

        <div *ngIf="adsList.length > 0 && adsList[0]" class="ads">
          <a target="_blank" href="{{adsList[0].link}}">
            <img src="{{adsList[0].path}}" alt="">
          </a>
        </div>

        <section class="section">
          <header class="section-header">
            <h2 class="section-title section-title-left"> <i _ngcontent-c3="" class="fa fa-bullhorn"></i> Husband and wife</h2>
          </header>
          <div class="section-body">
           A Husband and wife were on an African Safari when a lion suddenly dragged Rabri with his jaws.<br>
           Wife: Shoot him, Shoot him!<br>
           Husband: Wait! Wait! Let me change the battery of my camera.
          </div>
        </section>

        <div *ngIf="adsList.length > 1 && adsList[1]" class="ads">
          <a target="_blank" href="{{adsList[1].link}}">
            <img src="{{adsList[1].path}}" alt="">
          </a>
        </div>

      </div>
    </div>


  </div>
</main>
<aside [hidden]="userClicked" class="cont-pop">
  <button (click)="openAds()" type="button">Continue to website</button>
</aside>